<h1>Movie Update</h1>

<form action='/ movie/{{movieid}}/edit' method='POST'>
  <div class='form-group'>
    <label for='title'>Title</label>
    <input
      type='text'
      class='form-control'
      name='title'
      id='id'
      value='{{movies.title}}'
    />
  </div>

  <div class='from-group'>
    <label for='year'>Year</label>
    <input
      type='number'
      class='form-control'
      name='year'
      id='year'
      min='1800'
      max='2999'
      value='{{movies.year}}'
    />
  </div>

  <div class='from-group'>
    <label for='region'>Region</label>
    <input
      type='text'
      class='form-control'
      name='region'
      id='region'
      value='{{movies.region}}'
    />
  </div>

  <div class='from-group'>
    <label for='movdescription'>Movie Description</label>
    {{!-- <input
      type='text'
      class='form-control'
      name='movdescription'
      id='movdescription'
      value='{{movies.md}}'
    /> --}}
    <br />
    <textarea
      class='text text-area text-box multi-line'
      data-val='true'
      data-val-length='Maximum = 2045 characters'
      data-val-length-max='2045'
      name='movdescription'
      id='movdescription'
      cols='79'
      rows='5'
    >{{movies.md}}</textarea>
  </div>

  <div class='from-group'>
    <label for='ratings'>Ratings</label>
    <select name='ratings' id='ratings' class='form-control'>
      {{#each ratings}}
        {{#if selected}}
          <option value='{{rate}}' selected>{{rate}}</option>
        {{else}}
          <option value='{{rate}}'>{{rate}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>

  <div class='from-group'>
    <label for='description'> Genre Description</label>
    <select name='genreId' id='genre' class='form-control'>
      {{#each genres}}
        {{#if selected}}
          <option value='{{genreid}}' selected>{{description}}</option>
        {{else}}
          <option value='{{genreid}}'>{{description}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>

  <div class='from-group'>
    <label for='actfirstname'>Actor First Name</label>
    <input
      type='text'
      class='form-control'
      name='actfirstname'
      id='actfirstname'
      value='{{movies.actfirstname}}'
    />
  </div>

  <div class='from-group'>
    <label for='actlastname'>Actor Last Name</label>
    <input
      type='text'
      class='form-control'
      name='actlastname'
      id='actlastname'
      value='{{movies.actlastname}}'
    />
  </div>

  <div class='from-group'>
    <label for='actgender'>Actor Gender</label>
    <select name='actgender' id='gender' class='form-control'>
      {{#if isFemale}}
        <option value='Male'>Male</option>
        <option value='Female' selected>Female</option>
      {{else}}
        <option value='Male' selected>Male</option>
        <option value='Female'>Female</option>
      {{/if}}

    </select>
  </div>
  <br />

  <form action='/photo/{{movieid}}' method='post' enctype='multipart/form-data'>
    <label>Photo </label>
    <input type='file' name='photo' /><br>
    <input type='submit' class='btn btn-primary' value='Update' />
  </form>
 
  <a class='btn btn-secondary' href='/' role='button'>Back Home</a>

  

</form>